body {
  background: url("./assets/bk8.jpg") center/cover;
 
}
.Header {
  width:90%;
  position: relative;
  z-index:1000;
  margin: 0 auto;
  top:10px;
  left:25px;

}
.Header img {
  height:41px;
  width: 15%;
  padding:0px;
  right:60px;
  margin:0px;
  position: relative;
}
  
  

.Header ul {
   display: flex;
   justify-content: space-around;
   list-style: none;
   font-size: 1.3em;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   cursor: pointer;
   padding:0;
   margin:0 auto;
   padding-top: 10px;
   
   
   
}
.Header li {
  background-color: red;
  color:chartreuse;
  align-items: center;
 
}


.Main {
 height:100vh; 
 width:100vw;
 padding-top:90px;
}

.Main h2 {
text-align:center;
color:white;
font-size: 2.8rem;
font-family: cursive;
text-shadow: 13px 15px 4px #9d98bb;
}

#titre2 {
  text-align: center;
  color:white;
  font-size: 1.7rem;
  font-family: cursive;
  display: block;
  justify-content: center;
}
.Main p{
text-align: center;
color: white;

}

.Main-form {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
  

.Main-form button {
height: 60px;
width: 15%;
cursor:pointer;
text-transform: uppercase;
background: red;
color:white;

}

button:hover  {
 background:blue;
 color:black;

}

.Section {
  height: 90vh;
}
.Container-Section{
  display:grid;
  grid-template-columns:60% 40%;
  position: relative;
  
}

.Grid-devices {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "video"
  "img";
}

.video {
  grid-area: video;
}

.image-devices  {
  grid-area: img;
}
 

.image-devices img {
  height: 300px;
  width: 230px;
  right:-90px;
  position: relative;
  margin:0 auto;
  
}

.Grid-devices video {
  height: 330px;
  width: 440px;
  top:0;
  right: 0;
  padding-top:20px;
  position: relative;
}
.Text {
  text-align:center;
  letter-spacing: 0.1em;
  font-size: 1.7rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  padding-top: 40px;

  
}

.para-devices {
  text-align: center;
  font-size: 1.1em;
  padding-top: 40px;
}

.more-text {
  
  text-align:center;
  letter-spacing:0.1em;
  font-size: 1.7rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
 
}


.Container-down {
  display: grid;
  grid-template-columns:70% 30%;
  margin:0 auto;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  grid-template-areas: 
  "im T1"
  "pa vi";
}

.Image-down  {
  grid-area:im;
}

.text-down{
  grid-area: T1;
}


.parag {
  grid-area:pa ;
}


.grid-down {
  display: grid;
  margin: 0 auto;

}
.text-down {
  text-align:center;
  padding:50px;
  margin:0 auto;
  position: relative;
  font-size: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:0.2em;
  color: white;
  padding-top:30px;
}


.text-down p{
  text-align: center;
  padding-top: 20px;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Image-down img {
  height:400px;
  width: 30%;
  margin:0;
  padding:30px;
  left: 300px;
  position: relative;
  padding-top: 50px;
  
 
}

.parag-down .parag {
  text-align :justify;
  margin:40px;
  padding:40px;
  font-size: 1.3rem;
  padding-top: 0px;
}

#Download img {
  height:70px;
  width:20%;
  top:0;
  left:180px;
  padding:90px;
  margin:10px;
  position: absolute;
  
}

#Download p {
  color:rgb(62, 53, 114) ;
  text-align: center;
  padding: 110px;
  position:absolute;
  top: 0;
  left: 220px;
  font-size: 1.1em;
  font-family:Cambria, Cochin, Georgia, Times, serif;
  
}

.Container {
  display:grid;
  margin:0 auto;
  grid-template-columns: 35% 65%;
}

.Grid {
  text-align: center;
  font-size: 1.2rem;
}

.Form {
  display:flex;
  justify-content: space-around;
  height:50vh;
  width:50vw;
  

}

.Form {
  display: flex;
  justify-content:space-around;
  height:50px;
  width: 250px;
  flex-direction:row;
}

.MainMovies{
  height:90vh; 
  background:white;
  padding-top:90px;

 }

.Movieslist {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.Mainmov {
  padding-top: 40px;
  margin:0;
  position: relative;
  color: white;
  align-items: center;
  font-size: 1.2rem;
  text-align: center;
  align-items: center;


}


.everywhere-section {
  display:grid;
  grid-template-columns: 80% 20%;
  position: relative;
  
}
.Grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:  
  "tt vid"
  "im1 im2"
  "txt vi";
 
}


.parag-every{
  grid-area: tt;
}
 .video{
   grid-area:vid;
 }
 
 .image-every {
  grid-area: im1;
 }
 .image-deux {
  grid-area: im2;
 }

 .pa-every {
  grid-area: txt;
 }

.text-every  {
  text-align:center;
  color: white;
  font-size:3rem;
  padding-top: 30px;
  margin: 0 auto;
  padding:40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.text-every p {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 15px;
  

}


.Grid video {
  height:320px;
  width:500px;
  position: absolute;
  margin: 10px;
  right:190px;
  padding: 10px;

}

.image-every{
  height: 200px;
  width: 100px;
  left:950px;
  position: relative;
  margin:10px;
  z-index:-100;
  padding: 0;

  
}
.image-deux {
  height: 230px;
  width: 230px;
  margin:30px;
}

 p {
  color: white;
  text-align: left;
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
 }

 .pa-every {
  text-align: left;
  padding: 10px;
  margin: 20px;
  padding-top:0;
  position: relative;
  top:-350px;
  left:0;
 }
  
  .Form-footer  {
   left:560px;
   position: relative;
   bottom:10px;
   align-items: center;
   bottom: -20px;
  
  }

  .Form-footer button {
    height: 40px;
    width: 110px;
   cursor:pointer;
   text-transform: uppercase;
   color: black;
   margin: 0;
   bottom:30px;
   position: relative;
   background: red;
   
  }
  .text p{
    text-align:center;
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    align-items: center;
    text-shadow: -1px 15px 3px #039cf4;
    padding: 0;
    padding-bottom: 10px;
  }
  
  
  .Form-footer button:hover {
    color: white;
    background:darkslateblue;
  }
  